
test2
Debug/pdp31.res
Debug/vc80.idb
rho1
test
PDP3.vcproj.SHINE.Taras.user
PDP3.vcproj.yura-home.yura.user
Debug/vc90.pdb
PDP3.vcproj.NASA.Yura.user
PDP3.vcproj.8.00.old
Debug/vc90.idb
Debug/charge_operation.obj
velocities
0rho
Debug/Bunch.obj
Debug/link.2972.write.1.tlog
Debug/Beam.obj
Debug/Boundary_Maxwell_conditions.obj
Debug/Boundary_conditions.obj
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/Load_init_param.obj
Debug/PDP3.Build.CppClean.log
Debug/PDP3.lastbuildstate
Debug/PDP3.log
Debug/PDP3.write.1.tlog
Debug/PDP3_manifest.rc
Debug/Poisson.obj
Debug/Poisson_dirichlet.obj
Debug/Poisson_neumann.obj
Debug/Test_class.obj
Debug/cl.command.1.tlog
Debug/input_output_class.obj
Debug/boundary_dirichlet.obj
Debug/boundary_neumann.obj
Debug/link-cvtres.read.1.tlog
Debug/link.2972-cvtres.read.1.tlog
Debug/link.2972.read.1.tlog
Debug/link.2972-cvtres.write.1.tlog
Debug/link.6744.read.1.tlog
Debug/link.6744-cvtres.write.1.tlog
Debug/link-cvtres.write.1.tlog
Debug/link.6744-cvtres.read.1.tlog
Debug/link.6792-cvtres.read.1.tlog
Debug/link.6792-cvtres.write.1.tlog
Debug/link.6792.write.1.tlog
Debug/link.6924-cvtres.write.1.tlog
Debug/link.6924.write.1.tlog
Debug/link.command.1.tlog
Debug/link.6744.write.1.tlog
Debug/link.6924-cvtres.read.1.tlog
Debug/link.6924.read.1.tlog
Debug/link.7504-cvtres.write.1.tlog
Debug/link.7504.read.1.tlog
Debug/link.write.1.tlog
Debug/link.read.1.tlog
Debug/mt.write.1.tlog
Debug/mt.read.1.tlog
Debug/rc.command.1.tlog
Debug/mt.command.1.tlog
Debug/rc.read.1.tlog
Debug/link.6792.read.1.tlog
Debug/link.7504.write.1.tlog
Debug/particles_list.obj
Debug/link.7504-cvtres.read.1.tlog
Debug/vc100.pdb
Debug/tinyxmlparser.obj
Debug/tinystr.obj
Debug/tinyxml.obj
Debug/tinyxmlerror.obj
Debug/rc.write.1.tlog
Debug/vc100.idb
Release/E_field.obj
Release/Beam.obj
Release/Boundary_Maxwell_conditions.obj
Release/Boundary_conditions.obj
Debug/vc80.pdb
coords
Release/Fourier.obj
Release/Poisson.obj
Release/input_output_class.obj
Release/vc90.idb
Release/Main.obj
Release/PML.obj
Release/Particles.obj
Release/Poisson_dirichlet.obj
Release/field.obj
Release/Poisson_neumann.obj
Release/Triple.obj
Release/boundary_dirichlet.obj
Release/boundary_neumann.obj
Release/charge_density.obj
Release/current.obj
Release/mt.dep
Release/particles_list.obj
Debug/PML.obj
Debug/BuildLog.htm
Debug/E_field.obj
Debug/Fourier.obj
Debug/H_field.obj
Debug/Geometry.obj
Debug/Main.obj
Debug/Particles.obj
Debug/Time.obj
Debug/Triple.obj
Debug/charge_density.obj
Debug/current.obj
Debug/field.obj
Debug/pdp3.exe.embed.manifest
Debug/mt.dep
Debug/pdp3.exe.embed.manifest.res
Debug/pdp3.exe.intermediate.manifest
Release/BuildLog.htm
Release/Geometry.obj
Release/H_field.obj
Release/Time.obj